nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 3, 92); 
  color: white;
  height: 43px;
}
nav ul li{
  list-style-type: none;
}

nav ul{
  display: flex;
  gap: 23px;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

label{
  display: block;
}

form{
  text-align: center;
}

h1, h2{
  text-align: center;
}

input[type='text']{
  width: 30vw;
  height: 24px;
}

textarea{
  width: 30vw;
  height: 122px;
}

.card{
  width: 133px;
  height: 133px;
  background-color: rgb(4, 36, 92);
  color: white;
  font-weight: bold;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  position: relative;
}

.card .title{
  text-align: center;
  font-size: 22px;
}

.noteSection{
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.del{
  position: absolute;
  right: 5px;
  cursor: pointer;
}